*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 50%), url(close-up-green-leaf-csr.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 20px;
    left: 500px;
    border-radius: 10px;
    padding: 25px;

}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: rgb(53, 126, 53);
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #1e7431;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 20px;
    font-family: sans-serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 240px;
    height: 40px;
    background: #29df19;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover {
    background-color: rgb(161, 160, 160);
    color: #fff;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #29df19;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}

.icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color:#fff;
    font-size: 30px;
    padding-left: 25px;
    padding-top: 5px;
    transition: 0.3s ease;

}

.icons ion-icon:hover{
    color: #148cee;
}